:root {
    --primary-color: #388C20;
    --secondary-color: #36733A;
    --thirdary-color: #1A5F2E;
    --fourthary-color: #01260A;
    --fifthary-color: #72A75F;
}


/*Main Stuff*/
body {
    background: var(--primary-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/*Main Page*/
#title {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px; 
    background: var(--thirdary-color);
    padding: 20px;
}

#personal-values {
    width: 60%;
    margin: auto;
    background: var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
}

/*Industry Page*/
#desc {
    width: 95%;
    margin: auto;
    background: var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
}

/*Navigation*/
.columns {
    display: flex;
    justify-content: center;
}
nav ul{
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

#navigation li:not(:last-child)::after {
    content: "|";
}

/*Footer*/
#footer {
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    background: var(--thirdary-color);
    padding: 20px;
}

/*Typography*/
h1 {
    text-align: center;
    color: var(--fourthary-color);
}
h2 {
    color: var(--fourthary-color);
}
p {
    color: var(--fourthary-color);
}
#footer p {
    text-align: center;
    color: var(--fifthary-color);
}
a {
    color: var(--fifthary-color);
}
img {
    display: block;
    width: 500px;
    max-width: 100%;
    margin: auto;
    border-radius: 5px;
}
